repos:
  - repo: https://github.com/psf/black
    rev: 21.4b0
    hooks:
      - id: black
        exclude: ^pdm/pep517/_vendor
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.1
    hooks:
      - id: flake8

  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
        exclude: ^.*/?setup\.py$
