[tool.pdm]
name = "pdm-pep517"
version = "0.1.0"
description = "PEP 517 support"
author = "Frost Ming <mianghong@gmail.com>"
license = "MIT"
python_requires = ">=3.7"
readme = "README.md"
homepage = "https://pdm.fming.dev"
includes = ["pdm"]
keywords = ["packaging", "PEP 517", "build"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Topic :: Software Development :: Build Tools",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8"
]

[tool.pdm.project_urls]
Repository = "https://github.com/frostming/pdm-pep517"

[tool.pdm.dependencies]

[tool.pdm.dev-dependencies]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
towncrier = "<20.0.0,>=19.2.0"
pytest-xdist = "<2.0.0,>=1.31.0"
vendoring = {version="*", marker="python_full_version~='3.8.0'"}

[tool.intreehooks]
build-backend = "pdm.pep517.api"

[tool.black]
line-length = 88
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | build
  | dist
  | __pypackages__
  | pdm/pep517/_vendor
)/
'''

[tool.vendoring]
destination = "pdm/pep517/_vendor/"
requirements = "pdm/pep517/_vendor/vendor.txt"
namespace = ""

protected-files = ["__init__.py", "README.md", "vendor.txt"]
patches-dir = "vendors/patches"

[tool.vendoring.transformations]
substitute = []
drop = [
    "bin/",
    "*.so",
    "typing.*",
    "*/tests/"
]

[tool.vendoring.typing-stubs]

[tool.vendoring.license.directories]

[tool.vendoring.license.fallback-urls]

[tool.towncrier]
package = "pdm"
filename = "CHANGELOG.md"
issue_format = "[#{issue}](https://github.com/frostming/pdm/issues/{issue})"
directory = "news/"
title_format = "Release v{version} ({project_date})"
template = "news/towncrier_template.md"
underlines = "-~^"

  [[tool.towncrier.type]]
  directory = "feature"
  name = "Features & Improvements"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "bugfix"
  name = "Bug Fixes"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "doc"
  name = "Improved Documentation"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "dep"
  name = "Dependencies"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "removal"
  name = "Removals and Deprecations"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "misc"
  name = "Miscellany"
  showcontent = true

[build-system]
requires = ["intreehooks"]
build-backend = "intreehooks:loader"

