name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release-pypi:
    name: release-pypi
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Build artifacts
        run: |
          python -m install build
          python -m build

      - name: Test build
        run: |
          pip install dist/*.whl
          pip uninstall -y pdm-pep517
          pip install dist/*.tar.gz
          pip uninstall -y pdm-pep517

      - name: Upload to Pypi
        run: |
          pip install twine
          twine upload --username __token__ --password ${{ secrets.PYPI_TOKEN }} dist/*
